.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px 0;
    place-items: center;
    overflow: hidden;

    @include respond(s-desktop) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include respond(small) {
        grid-template-columns: 1fr;
    }
}