.pagination {
    background-color: $tertiary-color;
    padding: $p-small 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: $m-big 0;
}

.pagination__prev-btn {
    order: 1;
}

.pagination__next-btn {
    order: 3;
}

.pagination__current-page {
    order: 2;
    margin: 0 10px;
    border: 1px solid $primary-color;
}