.search {
    padding: 7px 10px;
    width: 50%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #75135d;
    color: $primary-color;
    border-radius: 3px;
    background-color: transparent;
    transition: all .2s ease;
    order: 2;

    &:focus  {
        outline: none;
        box-shadow: $shadow;
    }

    @include respond(medium) {
        width: 80%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    @include respond(x-small) {
        width: 100%;
        margin: 0 5px;
    
    }
}