// COLORS //
$primary-color: #75135d;
$secondary-color: #fff;
$tertiary-color: #dedede;


// FONT-SIZES //
$large-font: 45px;
$medium-font: 25px;
$small-font: 16px;

// PADDINGS //
$p-big: 30px;
$p-medium: 20px;
$p-small: 10px;

// MARGINS //
$m-big: 20px;
$m-medium: 15px;
$m-small: 10px;


// TEXT-SHADOW //
$heading-shadow: 10px 10px 10px rgba(0,0,0, .3);

// BOX-SHADOW //
$shadow: 0 2px 2px rgba(0,0,0,.3);